html, body, .table-responsive {
    height: 100%;
    width: 100%;
    margin-bottom: 0px;
}

.table-responsive {
    /*display: flex;*/
    flex-direction: column;
    pointer-events: none;
    cursor: default;
}

.row {
    display: flex;
    justify-content: flex-start;
    height: 9.375vh;
}

.row:first-child {
    height: 25vh;
    font-size: 4vmin;
}

.col {
    background-color: #9e9e9e;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dcdcdc;
}

.case div:hover {
    background-color: black;
}

.Ligne_score {
    font-size: 6vmin;
    font-weight: bold;
}

.Joueur_0 {
    width: 15vw;
    font-size: 5vmin;
}

.control_grid {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.control_button {
    width : 100%;
    border-radius: 0px;
    height: 10vh;
    position: relative;
    z-index: 0;
}

.scoreGrid {
    height: 90%;
}

input {
    border: none;
    background: transparent;
    width: 100%;
}

/*.resizable{ */
/*    overflow: hidden;*/
/*    resize: both;*/
/*}*/

/*.draggable{*/
/*    position: absolute;*/
/*    z-index: 100;*/
/*    width: 15vw;*/
/*}*/

/*.draggable-handler{*/
/*    padding: 20px;*/
/*    cursor: move;*/
/*}*/

/*.draggable-handler:hover{*/
/*    background-color: black;*/
/*}*/

/*.dragging{*/
/*    cursor: move;*/
/*    z-index: 200 !important;*/
/*}*/