html, body, .table-responsive {
    height: 100%;
    width: 100%;
    margin-bottom: 0px;
}

.table-responsive {
    /*display: flex;*/
    flex-direction: column;
    pointer-events: none;
    cursor: default;
}

.row {
    display: flex;
    justify-content: flex-start;
    height: 10.625vh;
}

.row:first-child {
    height: 15vh;
    font-size: 4vmin;
}

.col {
    background-color: #9e9e9e;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #dcdcdc;
}

.col:hover {
    opacity: 0.8;
}

.Ligne_score {
    font-size: 6vmin;
    font-weight: bold;
}

.Joueur_0 {
    /*width: 15vw;*/
    max-width: 30vw;
    font-size: 5vmin;
    background-color: #ce4242;
}

.Joueur_0.Ligne_score {
    background-color: #6464ec;
}

.Joueur_0.Ligne_nom {
    background-color: #6464ec;
}

.scoreGrid {
    /*height: 90%;*/
}

input {
    border: none;
    background: transparent;
    width: 100%;
}